
header h1.logo {
  font-size: 1.8em;
  color: #CC6600;
  text-transform: uppercase;
  text_align: center;
}


ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.abt{
    text-align : center;
    color : DarkGray;
    font: Helvetica 12pt;
    
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

