    
{% extends 'base.html' %}

{% block content %}

    <div style="background-color:lightgreen">
    <br>
        <div class="container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-auto">
      <form  action="" method="POST" role="form">
      {{signin_form.hidden_tag()}}
        {{ signin_form.csrf }}
        <div class="form-group">
          <center>
    	   <hr style="width:100%">
	       </center>  
          <input type="text" class="form-control" id="email" name="email" placeholder="Your Email Adress">
            <br>
          
          <input type="password" class="form-control" id="password" name="password" placeholder="Your Password">
	    <center>
    	   <hr style="width:100%">
	       </center>  
	</div>
        <br>													   
        <center>
          {{signin_form.login(class_="btn btn-success")}}
        </center>
        <br>
      </form>
      </div>
      </div>
      </div>
      </div>
    

{% endblock %}







